html,
body {
  height: 100%;
  margin: 0
}

div.title {
	width: 100%;
	background: lightgray;
	flex: 0 1 auto;
	/*border: 1px solid gray;*/
}

body {
	margin: 0;
	background: lightgray;
	font-size: large;
}

header {
	padding: 0.1em 1em 0.1em 2em;
	color: darkgray;
	background-color: white;
	clear: left;
	text-align: left;
}

article {
	/*margin-left: 170px;*/
	/*border-left: 1px solid gray;*/
	padding: 1em;
	overflow: auto;
	background: lightgray;
	height: 100%;
}

div.course {
	width: 10em;
	max-width: 10em;
	height: 7.5em;
	max-height: 7.5em;
	line-height: 7.5em;
	margin: 1em;
	float: left;
	background: white;
	text-align: center;
	color: darkgray;
	font-size: xx-large;
	padding: 0em;
}

.mapbox_column {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.w3-sidebar {
	padding: 0.5em;
	z-index: 100;
}
.sidebar_header{
	font-size: 80%;
	padding:10px;
}
.sidebar_box1{
	width:180px;
	height:150px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
}
.sidebar_box2{
	width:180px;
	height:300px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
}
.sidebar_box3{
	width:180px;
	height:800px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
}

#content {
	flex: 1 1 auto;
}

#structure-map {
	overflow: hidden;
	display: inline;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 41px;
	right: 200px;
	z-index: 1;
}

.sidebarButton {
	flex: 0 1 2em;
	width: 100%;
	z-index: 100;
}

#node-popup {
	width: 20em;
	max-width: 20em;
	padding: 1em;
	margin-left: -50%;
	float: left;
	background: white;
	text-align: center;
	color: darkgray;
	border:1px solid darkgray;
}

div.anchor {
	position: absolute;
}
