html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

div.title {
	width: 100%;
	background: lightgray;
}

body {
	margin: 0;
	background: lightgray;
	font-size: large;
}

header {
	padding: 0.1em 1em 0.1em 2em;
	color: darkgray;
	background-color: white;
	clear: left;
	text-align: left;
	height: 57px;
}

article {
	padding: 1em;
	overflow: auto;
	background: lightgray;
	height: 100%;
}

div.course {
	width: 10em;
	max-width: 10em;
	height: 7.5em;
	max-height: 7.5em;
	line-height: 7.5em;
	margin: 1em;
	float: left;
	background: white;
	text-align: center;
	color: darkgray;
	font-size: xx-large;
	padding: 0em;
}

.mapbox_column {
  height: 100%;
}
.w3-sidebar {
	/*padding: 0.5em;*/
	z-index: 100;
	background-color: #fff;
}
.sidebar_header{
	font-size: 80%;
	padding:7px;
}
.sidebar_title{
	width:100%;
	height:100px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
	resize: none;
	margin: 0.5em;
}
.sidebar_summary{
	width:100%;
	height:200px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
	resize: none;
	margin: 0.5em;
}
.sidebar_comments{
	width:100%;
	height:200px;
	border:1px solid black;
	box-sizing: border-box;
	padding:10px;
	resize: none;
	margin: 0.5em;
}

#sidebar {
	width: 200px;
	float: right;

}

#structure-map {
	overflow: hidden;
	display: inline;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 57px;
	right: 200px;
	z-index: 1;
}

.sidebarButton {
	flex: 0 1 2em;
	width: 100%;
	z-index: 10;
	background-color: #4CAF50;
    color: white;
}

#node-popup {
	width: 20em;
	max-width: 20em;
	padding: 1em;
	margin-left: -50%;
	float: left;
	background: white;
	text-align: center;
	color: darkgray;
	border:1px solid darkgray;
}

div.anchor {
	position: absolute;
}
